* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*fondo de la página*/
body{
    background-image: url(../img/logocafemolido2.jpg);
}
/*anchura, altura y color del contenedor de registro*/
.register{
    text-align: center;
    border-top: 3px solid #F12407;
    border-bottom:3px solid #F12407;
    background-color: #571b096b;
    height: 480px;
    width: 870px;
    margin-left: 20%;
    margin-top: 80px;
}
/*margen del logo*/
.logoR{
    margin-bottom: 15px;
    border-radius: 5px; 
}
/*anchura, altura, letra y color del recolector de información*/
.controls{
    width: 300px;
    border: 1px solid #571b09c4;
    margin: 20px;
    padding: 12px;
    background: whitesmoke;
    font-size: 17px;
    border-radius: 5px;
}
/*color, anchura y altura del botón de envio*/
.button{
    width: 500px;
    height: 35px;
    background: #F12407;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 21px;

}
/*color, texto y tamaño del texto de ayuda*/
.TieneCuenta{
    color: rgb(252, 246, 246);
    text-decoration: none;
    font-size: 20px;
}

