*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.clear{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*Encabezado*/
.encabezado{
    display: flex;
    justify-content: space-between;
    height: 85px;
    background-color: #f12407;
    align-items: center;
    padding: 0px;
    letter-spacing: 0.1cm;

}

.logoF {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 2.4%;
    z-index: 5;
}

.nav-link{
    font-weight: 600px;
    padding-right: 30px;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}
.nav-link:hover{
    color: #f12407;
    animation: 2s linear;
    background-color: white;
    border-radius: 5px;
    padding: 18px;
}


@media(max-width:700px){
    .header{
        flex-direction: column;
    }
    
    .nav{
        padding: 200px 50px;
    }
}
/*Fondo*/
html {
    background-image: url(/clientes/img/logocafemolido.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/*Contenedor del proceso de los clientes*/
.contenedor{
    background-color: #a314018a;
    position: fixed;
    max-width: 900px;
    min-height: 450px;
    margin-top: 5%;
    left: 15%;
    right: 10%;
}
/*Contenedor para buscar a los clientes*/
.campo_Busqueda{
    display: flex;
    position: relative;
    top: 5px;
    margin: auto;
    padding: 0px;
    max-width: 55%;
    min-height: 35px;
    border-radius: 10px;
    background-color: #fff;
}
.icon_Busqueda{
    display: none;
    position: relative;
    top: 6px;
    left: 2px;
    opacity: 50%;
    font-size: 19px;
    text-align: justify;
}
.busqueda{
    position: relative;
    top: 4px;
    left: 3px;
    height: 22px;
    width: 320px;
    border: none;
    font-size: 20px;
}

/*Botón para funcion agregar clientes*/
.agregar{
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 100%;
    font-size: 70px;
    font-weight: bolder;
    cursor: pointer;  
}
.mas{
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
}
#mas{
    display: none;
}
#mas:checked ~ .mas{
    font-size: 50px;
    transform: rotate(45grad);
    transition: all 600ms ease;
}

/*formulario para registrar a los clientes*/
.forma{
    display: none;
    position: absolute;
    max-width: 100%;
    width: 70%;
    max-height: 90%;
    margin: 0% 23%;
}
.nombre_Apellido_Registro{
    display: flex;
    flex-flow: row wrap;
    justify-content: normal;
    gap: 16px;
    margin-top: 30px;
}
.email_Movil_Registro, .contenedor_Password{
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: 50%;
}
.fecha_Registro{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 20px;
    font-size: 1em;
}
.fecha_Registro select{
    padding: 3px;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;
}
.genero_Registro{
    display: flex;
    gap: 15px;
}
.genero_Registro span{
    background-color: #fff;
    letter-spacing: 0.5px;
    font-size: 1em;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;

}
.btn_Registro{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 15px;
}
.forma button[type="submit"]{
    letter-spacing: normal;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    border-radius: 4px; 
}
.forma button[type="submit"]:hover{
    background-color: transparent;
    transition: all 0.5s linear;
    border-bottom: 2px solid #fff;
    color: #fff;
    border-radius: 0px;
}
.nombre_Apellido_Registro, .email_Movil_Registro, .password_Registro{
    margin-bottom: 20px;
}
.fecha_Nacimiento, .sexo_Registro{
    font-size: 12px;
    color: #1c1e21 ;
    line-height: 20px;
    font-weight: bolder;
}

.fecha_Icon_Nacimiento, .sexo_Icon_Registro{
    color: #1c1e21;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
/*Todos los input del formulario*/
.forma input{
    border: none;
    font-family: sans-serif;
    font-size: 1em;
    outline: none;
    padding: 5px;
    border-radius: 4px;
}
.forma input:focus, .forma input:hover, .forma input::after, .genero_Registro span:hover{
    background-color: transparent;
    transition: all 0.5s linear;
    border-bottom: 2px solid #fff;
    color: #fff;
    border-radius: 0px;   
}
/*Espacio para el contenedor de los clientes ya agregados*/
.cliente{
    position: absolute;
}